table{
	border: 1px solid #eee;
	table-layout: fixed;
	width: 100%;
	margin-bottom: 20px;
	overflow-wrap: break-word;
}
th {
	font-weight: bold;
	padding: 5px;
	background: #b2bedb;
	border: 1px solid #dddddd;
}
td{
	padding: 5px 10px;
	border: 1px solid rgb(239, 244, 227);
	text-align: left;
	
}
tbody tr:nth-child(odd){
	background: #F7F7F7;}

tbody tr:nth-child(even){
	background: rgb(173, 189, 159);
}
	
input{
	width: 90%;
}
